---
import ThemeSwitcher from "@components/base/ThemeSwitcher.astro";
import { IoSearch } from "react-icons/io5";

const stickyHeader = true;
---

<header
  transition:persist
  class={`container glass py-2 z-30 mb-4 lg:mt-4 lg:rounded-lg ${stickyHeader && "sticky top-0"}`}
>
  <div class="relative flex flex-wrap items-center justify-between">
    <!-- site title -->
    <a href="/" class="text-xl font-bold text-slate-800 dark:text-yellow-500">
      Golden Path DevOps
    </a>
    <!-- /site title -->
    <div class="ml-auto flex items-center">
      <a
        class="mr-4 inline-block border-border text-xl text-txt-p dark:border-darkmode-border dark:text-darkmode-txt-p"
        href="/search"
        aria-label="search"
      >
        <IoSearch />
      </a>
      <ThemeSwitcher />
    </div>
  </div>
</header>
